.bg-primary{
    background-color: black!important;
}
#Loginpage{
    background-color: #f96332!important;
}
img {
    max-width: 100%;
    height: auto;
}
.p-image {
    position: relative;
    top: -30px;
    right: -60px;
    color: black;
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  }
  .p-image:hover {
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  }
  .upload-button {
    font-size: 1.2em;
  }
  
  .upload-button:hover {
    transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
    color: #999;
  }
@media screen and (max-width: 991px){
    .sidebar-collapse .navbar-collapse:before{
        background: black!important;
    }
    iframe{
        width: 330px!important;
    }
}
@media screen and (max-width: 760px){
    iframe{
        width: 540px!important;
    }
}
@media screen and (max-width: 760px){
    .gigspot-main{
      visibility: hidden;
    }
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.btn {
    z-index: 3;
}

.gigspot-main {
    width: 115px;
    height: 115px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
}

.listing-img {
    border-radius: 10px;
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
}
.fa{
    color: white;
}
#changebandName,#changebandBio{
    background-color: transparent;
    border-color: transparent;
}
#changebandAbout{
    background-color: transparent;
    border-color: transparent;
}
#Aboutband{
    color: black;
}
.wrap{
    margin-left:auto;
    margin-right:auto;
}
